body{
  margin: 0px;
}

#topNav{
  background-color: gray;
  height: 10%;
  margin: 0px;
  border-bottom: 2px solid black;
}

#topNav li{
    text-decoration: none;
    display: inline;
    float: right;
    padding-right: 35px;
}

#topNav li:hover{
  background-color: light gray;
}

#topNav li a{
     text-decoration: none;
     font-family: times new roman;
     font-size: 35px;
     color: white;
}

#topNav li a:hover{
  color: black;
}

#menuNav{
    height: 100%;
    width: 160px;
    background-color: gray;
    margin: 0px;
    float: left;
    border-right: 2px solid black;
}

#menuNav li{
  list-style: none;
  font-size: 15px;
  font-family: times new roman;
  padding-top: 25px;
}

#menuNav li a{
  text-decoration: none;
  color: white;
}

#menuNav li a:hover{
  color: black;
}

#hamTitle{
  color: red;
}

#hamDes{
  font-size: 35px;
}

#hamPic{
  width: 350px;
  height: 350px;
}

#fryTitle{
  color:yellow;
}
